$black: #1E1E1E;
$color-base: #1E1E1E;
$black-border: rgba($black, 0.2);
$color-border: rgba($color-base, 0.4);
$backColor-body: #f9f9f9;
$bg-color: #F9E385;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;

